.footer
  float left
  width 100%
  height auto
  
.footerTop
  height 100px
  width 100%
  background-color #07273E
  padding-top: 50px;
  
.contentImg
  width 100px
  height 100px
  margin-left auto
  margin-right auto
  text-align center
  background-size 100px
  background-image url("app/assets/images/logo_MC_grande.png")
  background-repeat round