.reportPanel
  float left
  width 100%
  min-height 600px
  height auto
  padding-bottom 50px
  background-size 100%
  background-image url("app/assets/images/bg_pixel.jpg")
  background-repeat round

.subregionPanel
  float left
  width 100%
  margin-top 10px
  margin-bottom 10px
  background-color white

.checkBoxPanel
  width: 80%
  float left

.checkBoxCont
  float left
  width 90px
  height 100% 
  margin 10px 20px 10px 20px 

.buttonPanel
  width: 20%
  float right

.subregionPanel input
  margin 15px 2px 15px 15px

.subregionPanel span
  font-weight bold

.tabbedArea
  width 1024px
  margin 20px auto 20px auto
  color #555
  line-height 24px

.tabbedArea ul, .tabbedArea li
  float left
  list-style-type none
  padding 0px
  margin 0px

.tabbedArea li
  display block
  text-align center
  text-decoration none
  text-transform uppercase
  color #888
  padding 10px 10px
  margin-right 10px
  cursor pointer
  border-bottom 2px solid #888
  background-color #eee
  &:hover
    background-color #ddd
  &:active
    background-color #ccc

.tabbedArea li:first-child
  margin-left 0px

.active
  background #ccc!important

.chartArea
  width 1024px
  height auto
  margin-left auto
  margin-right auto

.chart
  width 1024px
  height 500px

.reportPanelButton
  height 35px
  background-color #8cdc8c
  float right
  margin 3px 2px 0 0
